{% extends "layout.html" %}
{% block body %}

<div class="table-responsive">
   <table id="forkTable" class = "table col-sm-12 table-sm display">
      <thead>
         <tr>
              <th> Repository Name</th>
              
              <th> Created At</th>
              <th> Updated At</th>
              <th> Commits ahead</th>
              <th> Files ahead</th>

              <th> Commits behind</th>
              <th> Files behind</th>

              <th> Comparison Link</th>-->
              <th> Stargazers Count</th>
              <th> Watchers Count</th>
              <th> Forks Count</th>  
              <th> Open Issues Count</th>  
                                   
         </tr>
      <thead>
      <tbody>
       {% for repo in cuur_repo_list %}
          <tr>
             <td> <a href ="https://github.com/{{repo['full_name']}}">{{ repo['full_name'] }}</a></td>             
             <td> {{ repo['created_at'] }} </td>
             <td> {{ repo['updated_at'] }} </td>
        
             {% if repo['ahead']==-1 or repo['files_ahead']==-1 %}
               <td>Error Occured</td>
               <td>Error Occured<22/td>
            {% else %}
            <td> {{ repo['ahead'] }} </a></td>
            <td> {{ repo['files_ahead'] }}</a> </td>
 
             {% endif %}
         
               
            {% if repo['behind']==-1 or repo['files_behind']==-1 %}
                  <td>Error Occured</td>
                  <td>Error Occured</td>            
               {% else %}
               <td> {{ repo['behind'] }} </a></td>
               <td> {{ repo['files_behind'] }} </td>
 
               {% endif %}

               <td> <a href ="https://github.com/{{repo['full_name']}}/compare>Detailed Comparison</a></td>
               
             <td> {{ repo['stargazers_count'] }} </td>
             <td> {{ repo['watchers_count'] }} </td>
             <td> {{ repo['forks_count'] }} </td>
             <td> {{ repo['open_issues_count'] }} </td>
            </tr>
       {% endfor %}
      </tbody><tbody>
   </table>
</div>
{% endblock %}
