{% extends "layout.html" %}
{% block body %}

<div class="respnsive">
   <table id="forkTable" class = "table display">
      <thead>
         <tr>
               <th> Repository Name</th>
               <th> Commits Ahead</th>
               <th> Commits behind</th>
         </tr>
      <thead>
      <tbody>
       {% for repo in cuur_repo_list %}
          <tr>
             <td> {{ repo }} </td>
             <td> {{ cuur_repo_list[repo]['ahead'] }} </td>
             <td> {{ cuur_repo_list[repo]['behind'] }} </td>
            </tr>
       {% endfor %}
      </tbody><tbody>
   </table>
</div>
{% endblock %}
