<!DOCTYPE html>
<html>
    <head>
            <link rel="icon" href="data:,">
        <title> Forks for a GitHub repository</title>
        <style>
        body {
            padding-top: 3rem;
            padding-bottom: 3rem;
            padding-left: 3rem;
            padding-right: 3rem;
    
        }
        </style>
    </head>
    <body>
            <div class="card">
                <div class="card-header text-center">
                        <h3>
                            <a href="https://github.com/abhishek9sharma/ForkInfo" class="blue" ALIGN=”left”>
                                <img src ='/static/images/Octocat.png' alt = 'GitHub Code' class= 'img-fluid' width="75" height="" ALIGN=”left”></img>
                                Fork Information
                            </a> 
                            
                        </h3>
                    </div>
            
                

            <div class='card-block'>

            <div class="row">
                <div class="form-group col-lg-12 col-offset-2 centered">      
                        <form action="{{url_for('forks')}}" method="post">
                        <div class="input-group">                            
                         <input class="form-control centered" type="text" name="repo" placeholder="username/repositoryname">
                                    <span class="input-group-btn">
                                         <input class="btn btn-primary" type = "submit" value = "Find Forks" />
                                    </span>
                        </form>
                        </div>
                    </div>
            </div>
            <!-- <div class="panel-body">
            </div> -->
         
        </div>
           
       
        {% block body %}
        {% endblock %}  

    </div>
     </body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <!-- <script type="text/javascript" charset="utf8" src="https:////cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
     -->
    <script>
    $(document).ready(function() {
    $('#forkTable').DataTable();
    } );
    </script>

    </html>